# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/

# VSCode settings
.vscode/

# Environment variables
*.env

# Flask cache
instance/
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
