{% include "header.html" %}
{% block body %}
          <div class="row align-items-center py-4">
         &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/profile" class="aaa" style="color: #5fcf80;"><i class="bx bx-home"></i><strong>Accueil</strong></a></li>
                  <li class="breadcrumb-item"><a href="/matiere" class="aaa" style="color: #5fcf80;"><strong> Gestion des matieres</strong></a></li>
                </ol>
        </div>
  <br>
 <section class="d-flex justify-content-center align-items-center">
<div class="container">

    <div class="row">

        <div class="col md-12">

            <h2>Listes des matières <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Ajouter Matiere<i class="fa fa-plus" aria-hidden="true"></i></button></h2>




    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}




            <table class="table table-striped">


                <tr>
              <th>Référence du matiere</th>
              <th>Référence du module</th>
              <th>Nom du matiere</th>
              <th>Coefficient</th>
              <th>Action</th>


          </tr>





                {% for row in matiere %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>


               <a href="/updatemat/{{row.0}}" class="btn btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}" style="font-size:30px;"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                <a href="/deletemat/{{ row.0 }}" class="btn btn-xs" onclick="return confirm('êtes-vous sûr de supprimer le matiere?')" style="font-size:30px;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>

                </tr>

                <div id="modaledit{{row.0}}" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('updatemat') }}" method="POST">


               <div class="form-group">


                  <label>Référence du matiere:</label>
                   <input type="number" class="form-control"  name="refmatiere" value="{{row.0}}" readonly>

               </div>
               <div class="form-group">


                  <label>Référence du module:</label>
            <input type="number" class="form-control" name="refmodule" value="{{row.1}}" readonly>
                   
               </div>


              <div class="form-group">


                  <label>Nom du matiere:</label>

                  <input type="text" class="form-control" name="nom_matiere" value="{{row.2}}">


               </div>
               <div class="form-group">


                  <label>Coefficient:</label>

                  <input type="number" step="0.25" class="form-control" name="coefficient" value="{{row.3}}">


               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="sbumit">Modifier</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>


         </div>


      </div>


   </div>


</div>


                {% endfor  %}


                </tbody>


            </table>


        </div>


<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Ajouter matière</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('insertmat') }}" method="POST">

             <div class="form-group">


                  <label>Référence du matiere:</label>
                  <input type="number" class="form-control" name="refmatiere" required="1">

               </div>

               <div class="form-group">

                  <label>Référence du module:</label>
                  <input type="number" class="form-control" name="refmodule" required="1">

               </div>

                 <div class="form-group">

                  <label>Nom du matiere:</label>
                  <input type="text" class="form-control" name="nom_matiere" required="1">

               </div>

                 <div class="form-group">

                  <label>Coefficient:</label>
                  <input type="number" step="0.25" class="form-control" name="coefficient" required="1">

               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Ajouter</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>


         </div>


      </div>


   </div>


</div>

</div></div>
  </section>
  <main id="main">
  </main>
  <br><br><br><br><br><br>
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>


    <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Education</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://twitter.com/jouhainaa_nasri" class="twitter"  style="background: #5fcf80;"><i class="bx bxl-twitter" ></i></a>
        <a href="https://www.facebook.com/maite.perroni1234" class="facebook"  style="background: #5fcf80;"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/jouhainaa_nasri1/" class="instagram"  style="background: #5fcf80;"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jouhaina-nasri-3b9442168/" class="linkedin"  style="background: #5fcf80;"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top" style="background: #5fcf80;"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  {% endblock %}
  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='assets1/vendor/jquery/jquery.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/jquery.easing/jquery.easing.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/php-email-form/validate.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/waypoints/jquery.waypoints.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/counterup/counterup.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/isotope-layout/isotope.pkgd.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/venobox/venobox.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/owl.carousel/owl.carousel.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/typed.js/typed.min.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/vendor/aos/aos.js') }}"> </script>
  <script src="{{ url_for('static',filename='assets1/js/main.js') }}"> </script>